.container{
    flex-direction: column;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.msg{
    margin-top: 2%;
    background-color: #066f7d;
    width: 60%;
    height: 100%;
    padding: 2%;
    border: solid 2px black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50%;
    color: white;
}

.avatar{
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-width: 5px;
    border-color: rgb(18, 48, 105);
    border-style: outset;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5%;
}

.usuario{
    margin-bottom: 15%;
    font-size: 20px;
}

.usuario_msg{
    font-size: 15px;
}

.button {
    right: 20px;
    bottom: 20px;
    z-index: 999;
    position: fixed;
    width: 10vw;
    height: 5vh;
    background: #2ED12B;
    border-radius: 12px;
    box-shadow: 3px 3px 3px #129410;
    color: #fff;
    border: none;
    font-family: 'Jua', sans-serif;
    font-size: 100%;
    align-items: center;
    justify-content: center;
    transition: transform 0.9s;
}

.button:hover {
    cursor: pointer;
    opacity: 0.8;
    background: #129410;
    transform: scale(1.15);
}