.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3%;
}

.inputContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.avatar{
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-width: 5px;
    border-color: rgb(18, 48, 105);
    border-style: outset;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input_form {
    width: 30vw;
    display: block;
    padding: 3%;
    border: none;
    border-radius: 0;
    margin-bottom: 3%;
}
  
.button {
    width: 10vw;
    height: 5vw;
    background: #2ED12B;
    border-radius: 12px;
    box-shadow: 3px 3px 3px #129410;
    color: #fff;
    border: none;
    font-family: 'Jua', sans-serif;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.9s;
}

.button:hover {
    cursor: pointer;
    opacity: 0.8;
    background: #129410;
    transform: scale(1.15);
}

.button_logout {
    margin-top: 5%;
    width: 7vw;
    height: 9vh;
    background: #db1818;
    border-radius: 12px;
    box-shadow: 3px 3px 3px #129410;
    color: #fff;
    border: none;
    font-family: 'Jua', sans-serif;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.9s;
}

.button_logout:hover {
    cursor: pointer;
    opacity: 0.8;
    background: #5c0000;
    transform: scale(1.15);
}