.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    border: 3px outset black;
    width: 25vw;   
    height: 25vw;
    margin-top: 2%;
    transition: transform 1s;
}