.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
}

.foto{
    width: 6vw;
    display: block;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3870ff;
    width: 100%;
    border: 1px solid black;
    padding: 3%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li{
    list-style: none;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}

.navbar li a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 200;
    color: rgb(0, 0, 0);
    transition: 0.3s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9ABCFF;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
}

.navbar li a:hover{
    color:rgb(255, 255, 255);
    background-color: #460096;
}

.mobile{
    display: none;
}

.mobile i{
    color: rgb(255, 255, 255);
}

@media screen and (max-width:1200px) {
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 70px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background-color: #2155da;
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
    }
    .active{
        right: 0px;
    }
    .navbar li{
        margin-bottom: 25px;
    }

    .mobile{
        display: block;
    }

    .mobile i{
        font-size: 24px;
        cursor: pointer;
    }
}