.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    border: 3px outset black;
    width: 25vw;   
    height: 25vw;
    margin-top: 2%;
    transition: transform 1s;
}

.card:hover{
    transform: scale(1.15);

}

.nextbutton {
    margin-top: 6%;
    width: 20vw;
    height: 6vw;
    background: green;
    box-shadow: 3px 3px 3px #129410;
    color: #fff;
    font-family: 'Jua', sans-serif;
    font-size: 3.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
}

.nextbutton:hover {
    cursor: pointer;
    opacity: 0.8;
    background: #027715;
}

.timer{
    border: 3px solid black;
    background-color: white;
    text-align: center;
    width: 8vw;
    height: 7vh;
    margin: 3%;
    margin-left: 46%;
}
.button{
    border: 3px solid black;
    width: 17.2%;
    height: auto;
    margin-top: 10%;
}

.text{
    font-family: 'Jua', sans-serif;
    font-size: 7vw;
    margin-top: 3.5%;
    margin-right: 4%;
    margin-left: 4%;
}

.textTime{
    font-family: 'Jua', sans-serif;
    font-size: 1.6vw;
    margin-top: 8%;
    text-align: center;
}

.pergunta{
    font-family: 'Jua', sans-serif;
    font-size: 5vw;
    margin-top: 2%;
    margin-right: 4%;
    margin-left: 4%;
    text-align: center;
}