body{
    background-color: #5FC5FF;
    text-align: center;
}

.container_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.inicio{
    width: 45vw;
    height: 22vh;
    background-color: #3870FF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    font-family: Arial, Helvetica, sans-serif;
}

.container_credencial{
    display: flex;
    justify-content: center;
    align-items: center;
}

.credencial{
    width: 28vw;
    background-color: #5FC5FF;
    border-radius: 10px;
    padding: 1%;
}

.credencial p{
    text-align: left;
    font-size: 0.9vw;
    font-family: Arial, Helvetica, sans-serif;
}

.subtitulo{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
}

.campo_arredondado{
    width: 100%;
    height: 25%;
    padding: 1%;
    border: solid #ccc;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.container_login{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2%;

}

.botao_login{
    width: 20vw;
    height: 4.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2ED12B;
    text-align: center;
    font-size: 1.5vw;
    color: white;
}

.botao_login:hover{
    background-color: #2a9628;
}